<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Get Started</h5>
        <p><a href="/request.html">CONNECT NOW</a></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-darken-1" href="/advisors.html">Advisors</a></li>
          <li><a class="grey-text text-darken-1" href="/guidelines.html">Guidelines</a></li>
          <!--<li><a class="grey-text text-darken-1" href="/blog">Blog</a></li>-->
          <li><a class="grey-text text-darken-1" href="/terms.html">Terms</a></li>
          <li><a class="grey-text text-darken-1" href="/privacy.html">Privacy</a></li>
          <li><a class="grey-text text-darken-1" href="/contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span class="grey-text">&copy; 2015 Advisor Labs</span>
      <span class="right"><a class="grey-text" href="http://www.powderkeglabs.com">Made by PowderKeg Labs, Inc.</a></span>

    </div>
  </div>
</footer>
