<nav class="dark-color" role="naviation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">
      <span class="full">Visory</span>
      <span class="small">Visory</span>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/advisors.html">Advisors</a></li>
      <li><a href="/guidelines.html">Guidelines</a></li>
      <li><a href="/request.html">Connect Now</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li class="side-nav-brand flex">
        <a href="/">
          <!--<img src="/assets/images/powderkeg-logo.png" class="responsive-img" />-->
          <i style="font-size: 56px;" class="material-icons red-text text-lighten-1">device_hub</i>
        </a>
      </li>
      <li><a href="/advisors.html">Advisors</a></li>
      <li><a href="/guidelines.html">Guidelines</a></li>
      <li><a href="/request.html">Connect Now</a></li>
    </ul>

    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

  </div>
</nav>
