<nav class="dark-color" role="naviation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">
      <!-- <img src="/images/powderkeg-logo.png" class="responsive-img" /> -->
      <!-- <img src="/images/pkl-logo-header-orange.png" class="responsive-img" /> -->
      <span class="full">PowderKeg Labs</span>
      <span class="small">PKL</span>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/advisors">Advisors</a></li>
      <li><a href="/guidelines">Guidelines</a></li>
      <!--<li><a href="/blog">Blog</a></li>-->
      <li><a href="/request">Connect Now</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li class="side-nav-brand flex">
        <a href="/"><img src="/images/powderkeg-logo.png" class="responsive-img" /></a>
      </li>
      <li><a href="/advisors">Advisors</a></li>
      <li><a href="/guidelines">Guidelines</a></li>
      <!--<li><a href="/blog">Blog</a></li>-->
      <li><a href="/request">Connect Now</a></li>
    </ul>

    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

  </div>
</nav>
