<header class="dark-color">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align flex">
        <h3>GUIDELINES</h3>
      </div>
    </div>
  </div>
</header>

<main>

  <section class="subheading">
    <div class="container">
      <div class="col s12">

        <h3>Make the most of your session</h3>
        <p>There's a lot of good work to be done, but not a lot of time to get it done. So here are some general guidelines to help you out...</p>

      </div>
    </div>
  </section>


  <section class="guidelines">
    <div class="container">
      <div class="row flex">
        <div class="col s12">
          <div class="guideline advisees">
            <h4>For Advisees</h4>
            <p>
              <b>Prioritize your questions.</b>
              The more challenging the problem, the deeper the discussions. We may not be able to answer all your questions in one session, so it is best to ask your most important one first.
            </p>

            <p>
              <b>Be Open Minded.</b>
              Your advisor will be giving you their honest opinions about how to approach your challenge. You may receive criticisms about your idea, but know that your advisor has your best interests in mind.
            </p>

            <p>
              <b>Don't ask your advisor to sign any legal papers.</b>
              This includes NDA's, non-competes, and the like. Not only are they rarely enforceable, they go against our principles on idea sharing.
            </p>

            <p>
              <b>Buy your advisor a coffee.</b> They will love you for it.
            </p>

            <p>
              <b>Don't pitch.</b> We're here to help you solve your challenges, not sit through a pitch meeting about why your organization is doing good work. We already know, that's why we're helping you.
            </p>

            <p>
              <b>Don't ask us to code for free.</b> Our advisors are not free labour, they are some of the best professionals in the business. If you require additionall help, then consider paying for their services.
            </p>
          </div>

          <div class="guideline advisors">
            <h4>For Advisors</h4>
            <p>
              <b>Be open minded.</b> You want to learn from them as much as they want to learn from you.
            </p>

            <p>
              <b>It's ok if you don't have all the answers.</b> Just be honest and draw from your experiences.
            </p>

            <p>
              <b>Don't be a neg.</b> You want to create a positive vibe, criticism should be constructive.
            </p>

            <p>
              <b>Set a time limit.</b> One hour is a good number.
            </p>

            <p>
              <b>This isn't a sales meeting.</b> Talk a bit about what you do, your journey and experiences, but don't pitch your service.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <%- partial("../_shared_partials/learn_more", {}) %>
</main>
