<header class="dark-color">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align flex">
        <h3>Request an Advisor</h3>
      </div>
    </div>
  </div>
</header>

<main ng-app="pklApp" ng-controller="requestController">

  <section id="request" class="request page grey lighten-4">
    <div class="container">
      <div class="row">
          <div class="col s12">
              <h4>Getting help is easy</h4>
              <p>Tell us a bit about your yourself, your organization, and the challenges you're facing. We will contact you within 24 hours to get the conversation started.</p>
          </div>
      </div>

      <div class="row">

          <form name="requestForm" id="requestForm" class="col s12" ng-submit="submitRequest()">

            <!-- First Step -->
              <div class="row">
                <div class="col s12">
                  <h5>Advisor Request Form</h5>
                </div>
              </div>

                <div class="row">
                  <div class="input-field col s12 m6">
                    <input type="text" id="fname" class="validate" required ng-model="request.firstName">
                    <label for="fname">Your First Name</label>
                  </div>

                  <div class="input-field col s12 m6">
                    <input type="text" id="lname" class="validate" required ng-model="request.lastName">
                    <label for="lname">Your Last Name</label>
                  </div>
                </div><!-- ./row -->

                <div class="row">
                  <div class="input-field col s12">
                    <input type="email" id="email" class="validate" required ng-model="request.email">
                    <label for="email">Your Email Address</label>
                  </div>
                </div><!-- ./row -->

                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="organization" class="materialize-textarea" length="500" required ng-model="request.orgDesc"></textarea>
                    <label for="organization">Tell Us About Your Organization</label>
                  </div>
                </div><!-- ./row -->

                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="question" class="materialize-textarea" length="500" required ng-model="request.text"></textarea>
                    <label for="question">How can we help you?</label>
                  </div>
                </div><!-- ./row -->

                <div class="row">
                  <div class="col s12">
                    <div id="success"></div>
                    <button type="submit" class="red waves-effect waves-light btn-large">Request Advisor</button>
                    <p>By clicking on "Request Advisor", you agree to the <a>Terms and Conditions</a>.</p>
                  </div>
                </div><!-- ./row -->




          </form>

      </div> <!-- ./row -->


    </div> <!-- ./container -->
  </section>


</main>
