<!-- Item -->
<div class="card advisor flex-item">
  <div class="card-image">
    <img class="activator" src="<%= image %>">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">JJ H.<i class="material-icons right">more_vert</i></span>
    <p>
      <span class="title">Founder &amp; Dev at <a>PowderKeg Labs</a></span>
      <ul class="advice-collection">
        <li>App Development</li>
        <li>Business Strategy</li>
        <li>Process Automation</li>
      </ul>
    </p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">JJ Hiew<i class="material-icons right">close</i></span>
    <p>
      JJ is a full-stack JavaScript developer with over 10 years of experience as a CTO and solutions architect. He has worked on projects for clients such as IBM, GE and Castrol Wakefield. JJ graduated from UofT with a B.Sc in Computer Science. He’s obsessed with turning his love of delicious baked goods and technology into a billion dollar business.
    </p>
    <a class="btn red">Request Advisor</a>
  </div>
</div>
<!-- /Item -->
