<header class="dark-color">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align flex">
        <h3 class="page-header-heading">Contact Us</h3>
      </div>
    </div>
  </div>
</header>

<main>

  <section id="contact" class="page">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h4>Questions?</h4>
          <p>Please ask! We're new and welcome the feedback</p>
          <p>Send an email to <a href="mailto:contact@visory.co">contact@visory.co</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h4>Want to be an advisor?</h4>
          <p>You're amazing!</p>
          <p>Send an email to <a href="mailto:join@visory.co">join@visory.co</a></p>
        </div>
      </div>
    </div>
  </div>
 </section>

</main>
