<header class="dark-color">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align flex">
        <h3>GUIDELINES</h3>
      </div>
    </div>
  </div>
</header>

<main>

  <section class="subheading">
    <div class="container">
      <div class="col s12">

        <h3>Make the most of your session</h3>
        <p>There's a lot of good work to be done, but not a lot of time to get it done. So here are some general guidelines to help you out...</p>

      </div>
    </div>
  </section>

  <section class="guidelines">
    <div class="container">
      <div class="row flex">
        <div class="col s12">
          <div class="guideline advisees">
            <!-- Import markdown since text heavy -->
            <%- partial('_content/guidelines') %>
        </div>
      </div>
    </div>
  </section>

</main>
